body 
{
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#score 
{
  position: absolute;
  top: 10px;
  left: 20px;
}

canvas 
{
  display: block;
}